<div class="container content">
    <div class="content text-center">
    <div class="titre">Profil public de la colocation {{colocActuelle.nomColoc}}</div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class = "fiche-coloc-public">

        <div class="row">
            <div class="col-sm-1 coloc_name"></div>
            <div class="col-sm-6"><h3>{{colocActuelle.nomColoc}}</h3></div>
          </div>

    <div *ngIf="colocActuelle.adresse !=null" >
        <div class="row">
            <div class="col-sm-1 adresse"></div>
            <div class="col-sm-6"><h3>{{colocActuelle.adresse.numVoie}} Rue {{colocActuelle.adresse.nomRue}}  {{colocActuelle.adresse.codePostal}} {{colocActuelle.adresse.ville}}</h3></div>
          </div>
    </div>

        <div class="row">
            <div class="col-sm-1 coloc_capacite"></div>
            <div class="col-sm-6"><h3>{{colocActuelle.capacite}}</h3></div>
          </div>

        <div class="row">
            <div class="col-sm-1 coloc_desc"></div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body card-shadow">
                    <p class="text-secondary">{{colocActuelle.descColoc}}</p>
                </div>
            </div>
        </div>
        </div>
    </div>
    <br>
    <br>

    <div class="text-right">
        <button class="btn large-button" (click)="sendDem()">Envoyer une demande d'intégration</button>
    </div>
    <div class="text-right">
        <button class="btn button-back " (click)="retour()"></button>
    </div>

    



</div>