<div class="container content">
    <h1 class="text-primary text-center">Profil public de la colocation {{colocActuelle.nomColoc}}</h1>
    <br>
    <h2 class="text-secondary">Nom de la colocation : {{colocActuelle.nomColoc}}</h2>

    <div *ngIf="colocActuelle.adresse !=null" >

        <h3 class="text-secondary" >Adresse : </h3>

        <p>{{colocActuelle.adresse.numVoie}} Rue {{colocActuelle.adresse.nomRue}}  {{colocActuelle.adresse.codePostal}} {{colocActuelle.adresse.ville}}</p>
    

    </div>


    <div class="text-right">
        <h4 class="text-secondary">Capacité : {{colocActuelle.capacite}}</h4>
      
    </div>
    <div class="col-md-10 mx-auto">
        <div class="card">
            <div class="card-body card-shadow">

                <p class="text-secondary">{{colocActuelle.descColoc}}</p>

            </div>
        </div>
        <br><br>
    </div>
    <div class="text-right">
        <button class="btn btn-danger" (click)="sendDem()">Envoyer une demande d'intégration</button>
    </div>
    <div class="text-right">
        <button class="btn btn-secondary" (click)="retour()">Retour</button>
    </div>


</div>