<div class="container content">
    <h1 class="text-primary text-center">Profil public de la colocation {{colocActuelle.nomColoc}}</h1>
    <br>
    <h2 class="text-secondary">Nom de la colocation : {{colocActuelle.nomColoc}}</h2>
    <h3 class="text-secondary">Adresse : </h3>

    <p>Ville : {{colocActuelle.adresse.ville}}</p>
    <p>Nom de rue : {{colocActuelle.adresse.nomRue}}</p>
    <p>Numéro de Voie : {{colocActuelle.adresse.numVoie}}</p>

    <div class="text-right">
        <h4 class="text-secondary">Capacité : {{colocActuelle.capacite}}</h4>
      
    </div>
    <div class="col-md-10 mx-auto">
        <div class="card">
            <div class="card-body card-shadow">
                <p class="text-secondary">Bienvenue dans cette description de la coloc. Ici on décrit les
                    caractéristiques de cette coloc.</p>
                <p>{{colocActuelle.descColoc}}</p>
            </div>
        </div>
        <br><br>
    </div>
    <div class="text-right">
        <button class="btn btn-danger" (click)="sendDem()">Envoyer une demande d'intégration</button>
    </div>
    <div class="text-right">
        <button class="btn btn-secondary" (click)="redirect()">Retour</button>
    </div>


</div>