<div class="contentbis text-center">
    <div class="contentbis text-center">

        <form>

            <br>



            <h2>Liste des colocs publiques</h2>
            <div data-toggle="collapse" data-target="#collapsesearch">

                <button class="btn button">

                    <span class="">
                        <i class="fa fa-search-plus" style="color:#fff; font-size:14px;"></i>
                    </span>
                </button>

            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" >{{head | titlecase}} -->
                        <th>
                            Nom
                            <br>
                        </th>
                        <th>
                            Capacité
                            <div id="collapsesearch" class="collapse">
                                <input type="capacite" class="text-center" id="inputCapacite" placeholder="Capacité"
                                    name="nomColoc" [(ngModel)]="capacite">
                            </div>
                        </th>
                        <th>

                            Ville

                            <div id="collapsesearch" class="collapse">
                                <input type="ville" class="text-center" id="inputVille" placeholder="Ville"
                                    name="adresseVille" [(ngModel)]="adresseVille">
                            </div>

                        </th>
                        <th>

                            Loyer

                            <div id="collapsesearch" class="collapse">
                                <input type="loyer" class="text-center" id="inputLoyer" placeholder="Loyer" name="loyer"
                                    [(ngModel)]="loyer">
                            </div>

                        </th>
                        <th>
                            <button type="submit" class="btn button" (click)="filtreColoc()">
                                <span class="">
                                    <i class="fa fa-search" style="color:#fff; font-size:14px;"></i>
                                </span>
                            </button>
                            <button type="reset" class="btn button" (click)="colocation=allColoc">
                                <span class="">
                                    <i class="fa fa-undo" style="color:#fff; font-size:14px;"></i>
                                </span>
                            </button>
                        </th>

                    </tr>
                </thead>
                <tbody *ngFor="let c of colocation">
                    <tr>
                        <td>{{c.nomColoc}}</td>
                        <td>{{c.capacite}}</td>
                        <td *ngIf="c.adresse !==null">{{c.adresse.ville}}</td>
                        <td *ngIf="c.adresse ===null">(Non mentionné)</td>
                        <td>{{c.loyer}}</td>
                        <td><button class="btn button" (click)="redirection(c.idColoc)">Détails</button></td>
                    </tr>
                </tbody>

            </table>
        </form>
        <br>
        <br>


    </div>

    <div class="text-right" style="padding-right: 30px;">
        <button class="btn button " (click)="retourAccueil()">
            <div class="textintern"> Retour </div>
        </button>
    </div>






</div>