
<br>
<br>
<br>

<br>

<div class="text-center mt-1">
    <h1> {{colocActuelle.nomColoc}} - ID n° {{colocActuelle.idColoc}} </h1>
</div>
<br>
<br>
<div class="text-center">utilisateur connecté : {{user.pseudo}} {{user.email}} {{user.genre}}</div>
<div class="text-center">Coloc n° {{user.coloc.idColoc}} : {{user.coloc.nomColoc}} {{user.coloc.nomColoc}} {{user.coloc.descColoc}} {{user.coloc.capacite}}</div>

<div class="container content">
    <div class="row">
        <div class="card col-sm-6">
            <div class="card-body">{{ colocActuelle.descColoc }}</div>

            
            <p></p>
            <br>
            <input type="text" class="form-control">
            <br>
        </div>
        <div class="col-sm-6">
            <div class="alert alert-warning text-center col-sm-12" role="alert">
                Quelqu'un souhaiterait rejoindre la {{colocActuelle.nomColoc}} <br><a href="#" class="alert-link">Allez
                    voir de qui il s'agit !</a>
            </div>
            <div class="alert alert-info text-center col-sm-12" role="alert">
                Il reste des tâches à faire !
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="text-center">
        <h4 class="text-info">Activité de la coloc</h4>
        <table>
            <thead>
                <tr>
                    <th>Tâche</th>
                    <th>Etoiles</th>
                    <th>Nom</th>
                    <th>Frequence</th>
                </tr>
            </thead>
            <tbody *ngFor='let t of taches'>
                <td>{{t.idTache}}</td>
                <td>{{t.nbEtoiles}}</td>
                <td>{{t.nomTache}}</td>
                <td *ngIf='t.ponctuel==true'>X</td>
                <td *ngIf='t.ponctuel==Flase'></td>
            </tbody>


        </table>

        <div class="col-sm-6">

            <form #ajoutTache="ngForm">
                <div class="form-row">
                    <div class="col-sm-4">
                        <input  class="form-control" id="inputTitreTache" placeholder="Titre" name="nomTache" ngModel="" required >
                    </div>
                    <div class="col-sm-4"> 
                        <input  class="form-control" id="inputEtoilesTache" placeholder="nbEtoiles" name="nbEtoiles" ngModel="" required >
                    </div>
                    <div class="col-sm-4">
                        <select id="inputFrequence" class="form-control"  name="frequence" ngModel="" required>
                            <option selected>Hebdomadaire</option>
                            <option>Ponctuelle</option>
                        </select>
                    </div>
                </div>
            </form>

            
            
        </div>

        <div class="col-sm-6">
            <button class="btn button " (click)="addTache(ajoutTache.value)"> Ajouter la tâche</button>

        </div>

        <div class="row text-center">
            <div class="col-sm-6">
                <h4 class="text-info">Membres</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Habitant</th>
                            <th>Pseudo</th>
                            <th>Genre</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody *ngFor='let h of habitants'>
                        <td>{{h.idUser}}</td>
                        <td>{{h.pseudo}}</td>
                        <td>{{h.genre}}</td>
                        <td>{{h.email}}</td>
    
                    </tbody>
    
    
                </table>
            </div>
            <div class="col-sm-6">
                <h4 class="text-info">Répartition des tâches</h4>
                <div class="row text-center">
                    <div id="main-head" style="text-align:center" class="col-sm-12">


                        <app-view-graph></app-view-graph>
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>

        <div>
            <button class="btn btn-primary" onclick="window.location.href='http://localhost:4200/creationColoc';">Statistiques</button>
            <button class="btn btn-primary" onclick="window.location.href='http://localhost:4200/mur';">Mur</button>
            <button class="btn btn-primary" onclick="window.location.href='http://localhost:4200/exploration';">Duty</button>
        </div>