
<br>
<br>
<br>

<br>


<div class = "titre text-center"> {{colocActuelle.nomColoc}}</div>
<br>
<div class = "titre2 text-center"> - ID n° {{colocActuelle.idColoc}} </div>
<br>

<div class="container content">
    <div class="row">
        <div class="card col-sm-6">
            <div class="card-body">{{ colocActuelle.descColoc }}</div>
            <br>
            <input type="text" class="form-control">
            <br>
        </div>
        <div class="col-sm-6">
            <div class="alert alert-warning text-center col-sm-12" role="alert">
                Quelqu'un souhaiterait rejoindre la {{colocActuelle.nomColoc}} <br><a href="http://localhost:4200/demande" class="alert-link">Allez
                    voir de qui il s'agit !</a>
            </div>
            <div class="alert alert-info text-center col-sm-12" role="alert">
                Il reste des tâches à faire !
            </div>
        </div>
    </div>
    <br>
    <br>


    <div class="text-center">
        <div class="titre2">Taches restantes à faire</div>
        <br>
        <table class = "liste-taches" >
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Etoiles</th>
                    <th>Frequence</th>
                    
                </tr>
            </thead>
            <tbody *ngFor='let t of taches' >
                <td *ngIf='t.user == null'>{{t.nomTache}}</td>
                <td *ngIf='t.user == null'>{{t.nbEtoiles}}</td>
                <td *ngIf='t.user == null'>{{t.frequence}}</td> 
                <th *ngIf='t.user == null'> <button type="submit" class=" btn button send-button tx-tfm" (click)="attribuerUser(t)" >Fait !</button> </th>

                
            </tbody>


        </table>
    </div>

    <br>
    <br>
    <br>


  

    <div class = "text-center">

        <div class="titre2">Ajouter une tache :</div>
        <br>

        <form #ajoutTache="ngForm">
            <div class="row">
                <div class = "col" >
                    <input  class="form-control" id="inputTitreTache" placeholder="Titre" name="nomTache" ngModel="" required >
                </div>
                <div class = "col"> 
                    <input  type ="number" min = 1 max = 5 class="form-control" id="inputEtoilesTache" placeholder="Nbombre d'Etoiles" name="nbEtoiles" ngModel="" required >
                </div>
                <div class = "col">
                    <select  form ="ajoutTache" class="form-control" id="inputFrequence" placeholder ="Frequence" name="frequence" ngModel="" required>
                        <option selected >Hebdomadaire</option>
                        <option >Ponctuelle</option>
                      </select>
                     
                </div>
                
            </div>
        </form> 
        <div >
            <button class="btn button " (click)="addTache(ajoutTache.value)" onclick="window.location.reload(false)"> Ajouter la tâche</button>
            <div class="text-center"><h4>{{ msg }}</h4></div>
        </div>
        
        
    </div>
    
        
    <br>
    <br>
    <br>
    <br>

    <div class="text-center">
        <div class="titre2">Taches déjà faites</div>
        <br>
        <table class = "liste-taches" >
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Etoiles</th>
                    <th>Frequence</th>
                    <th>Le brave dévoué</th>  
                </tr>
            </thead>
            <tbody *ngFor='let t of taches'>
                <td *ngIf='t.user != null'>{{t.nomTache}}</td>
                <td *ngIf='t.user != null'>{{t.nbEtoiles}}</td>
                <td *ngIf='t.user != null'>{{t.frequence}}</td> 
                <th *ngIf='t.user != null'>{{t.user.pseudo}} </th>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>

        <div class="row text-center">
            <div class="col-sm-6">
                <div class = "titre3">Membres</div>
                <table class = "liste-membres" >
                    <thead>
                        <tr>
                            <th>Pseudo</th>
                            <th>Genre</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody *ngFor='let h of habitants'>
                        <td>{{h.pseudo}}</td>
                        <td>{{h.genre}}</td>
                        <td>{{h.email}}</td>
    
                    </tbody>
    
    
                </table>
            </div>
            <div class="col-sm-6">
                <div class = "titre3">Répartition des tâches</div>
                <div class="row text-center">
                    <div id="main-head" style="text-align:center" class="col-sm-12">


                        <app-view-graph></app-view-graph>
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>

        <div>
            <button class="btn btn-primary" onclick="window.location.href='http://localhost:4200/creationColoc';">Statistiques</button>
            <button class="btn btn-primary" onclick="window.location.href='http://localhost:4200/mur';">Mur</button>
            <button class="btn btn-primary" onclick="window.location.href='http://localhost:4200/exploration';">Duty</button>
        </div>