<div class="container content">

    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body card-shadow">
                    <div class="myform form ">
                        <form #connexion="ngForm" >
                            <div class="form-group">
                                <input type="login" class="form-control" id="login" placeholder="Login" name = "login" ngModel="">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" placeholder="Mot de passe" name = "password" ngModel="">
                            </div>

                            <div class="text-center ">
                                <button type="submit" class=" btn btn-block send-button tx-tfm" (click)="connect(connexion.value)">Connexion</button>
                            </div>

                            <div class="text-center ">
                                <button type="submit" class=" btn btn-block send-button tx-tfm">Inscription</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>