    <div class="content text-center">
        <div class = "titre">Veuillez remplir les champs suivants pour créer votre colocation : </div>
    </div>
    <br>
    <br>
<div class="card container cardshadow">
    <form #creationColoc="ngForm">
        <div class="form-row">
            <div class="form-group col-md-12">
                <br>
                <div>
                    <label for="inputnom"><div class = "text-form">Nom de votre colocation</div></label>
                    <input type="text" class="form-control"  maxlength="20" name="nomColoc" ngModel="" required #loginaction="ngModel">
                </div>
                <br>
                <div>
                    <label for="inputdesc"> <div class = "text-form">Brève description de la colocation</div></label>
                    <input type="text" class="form-control" id="inputdesc"  name="descColoc" ngModel="">
                </div>
                <br>
                <div>
                    <label for="inputcdp"><div class = "text-form">Code Postal</div></label>
                    <input type="text" class="form-control" maxlength="5"   name="codePostal" ngModel="" required #loginaction="ngModel">
                </div>
                <br>
                <div>
                    <label for="inputcapa"><div class = "text-form">Capacité de la colocation</div></label>
                    <input type="number" class="form-control" id="inputcapa" name="capacite" ngModel="" required #loginaction="ngModel">
                </div>
                <br>
                <div>
                    <label for="inputloyer"><div class = "text-form">Loyer par colocataire</div></label>
                    <input type="number" class="form-control" id="inputloyer"name="loyer" ngModel="" >
                </div>
                <br>
                <div>
                    <label for="inputnumVoie"><div class = "text-form">Numéro de voie</div></label>
                    <input type="number" class="form-control" id="inputnumVoie"  name="numVoie" ngModel="" required #loginaction="ngModel">
                </div>
                <br>
                <div>
                    <label for="inputnomRue"><div class = "text-form">Nom de la rue</div></label>
                    <input type="text" class="form-control" id="inputnomRue" name="nomRue" ngModel="" required #loginaction="ngModel">
                </div>
                <br>
                <div>
                    <label for="inputville"><div class = "text-form">Ville</div></label>
                    <input type="text" class="form-control" id="inputville"  name="ville" ngModel="" required #loginaction="ngModel">
                </div>
                <br>
                <div>
                    <label for="inputpublique"><div class = "text-form">Colocation publique :</div></label>
                    <input type="checkbox"  id="inputpublique" name="isPublic" value="public">
                    
                </div>

                <div class="large-button ">
                    <button type="submit" class=" btn btn-block send-button tx-tfm" (click)="toutCreate(creationColoc.value)">Création de la coloc</button>
                </div>





           