<div class="text-center contentbis">
    <span class="titrepage">Pas encore de colocation ??</span>
</div>


<div class="contentbis text-center">
    <div>
        <h2>Rechercher le profil public d'une coloc</h2>
        <form #accueilsanscoloc="ngForm">
            <div class="card container cardshadow">

                <input type="idColoc" class="form-control" id="inputIdColoc"
                    placeholder="Veuillez saisir l'identifiant de la colocation à rechercher" name="idColoc" ngModel=""
                    required>
                <div class="alert alert-light" role="alert">{{ msg }}</div>
            </div>
            <br>
            <button type="submit" class="btn btn-secondary" (click)="findcoloc(accueilsanscoloc.value)">Valider</button>
        </form>
    </div>
    <div>
        <span class="titrecadre">Rejoindre une colocation existante à partir de son ID</span>
        <form #coloc="ngForm">
            <div class="card container cardshadow">

                <input type="number" class="form-control" id="inputIdColoc"
                    placeholder="Veuillez saisir l'identifiant de votre colocation" name="idColoc" ngModel="" required>

                <div class="alert alert-light" role="alert">{{ msg }}</div>
            </div>
            <br>
            <p class="text-danger">{{msgColoc}}</p>
            <button type="submit" class="btn btn-secondary" (click)="tocColoc(coloc.value)">Valider</button>


        </form>
    </div>
    <br>
    <div>
        <button class="btn button" routerLink='creationColoc'>Creer une
            nouvelle colocation</button>
        <button class="btn button" onclick="window.location.href='http://localhost:4200/exploration';">Rechercher
            une colocation</button>
    </div>


</div>