<div class="text-center contentbis">
    <span class="titrepage">Pas encore de colocation ?</span>
</div>


<div class="contentbis text-center">
    <div>
        <span class="titrecadre">Rechercher le profil public d'une coloc</span>
        <br><br>
        <form #accueilsanscoloc="ngForm">
            <div class="card container cardshadow">

                <input type="idColoc" class="form-control" id="inputIdColoc"
                    placeholder="Saisir l'identifiant de la colocation à rechercher" name="idColoc" ngModel=""
                    required>
                <div class="alert alert-light" role="alert">{{ msg }}</div>
            </div>
            <br>
            <button type="submit" class="btn button-valid" (click)="findcoloc(accueilsanscoloc.value)">
                <span class="">
                    <i class="fa fa-arrow-right" style="color:#fff; font-size:28px;"></i>
                  </span>
            </button>
        </form>
    </div>
    <div>
        <br><br>
        <span class="titrecadre">Rejoindre une colocation existante à partir de son identifiant</span>
        <br><br>
        <form #coloc="ngForm">
            <div class="card container cardshadow">

                <input type="number" class="form-control" id="inputIdColoc"
                    placeholder="Saisir l'identifiant de votre colocation" name="idColoc" ngModel="" required>

                <div class="alert alert-light" role="alert">{{ msg }}</div>
            </div>
            <br>
            <p class="text-danger">{{msgColoc}}</p>
            <button type="submit" class="btn button-valid" (click)="tocColoc(coloc.value)">
                <span class="">
                    <i class="fa fa-arrow-right" style="color:#fff; font-size:28px;"></i>
                  </span>
            </button>
           

        </form>
    </div>
    <br>
    <div class="btn-group">
        <button class="btn btn-primary"(click)="redirectionToCreationColoc()">Creer une
            nouvelle colocation</button>
        <button class="btn btn-primary" (click)="redirectionToExploration()">Rechercher
            une colocation</button>
    </div>


</div>